<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aqua;">
    <center>
        <table border="6px">
            <i><h1 style="background: linear-gradient(45deg,green,yellow);">DISPLAY_EMP</h1></i>
            <tr style="color: red;">
                <th>Pk_value</th>
                <th>Emp_No</th>
                <th>Ename</th>
                <th>Job</th>
                <th>Hiredate</th>
                <th>Sal</th>
                <th>Comm</th>
                <th>Dept_No</th>
            </tr>
            {% for eo in emp %}
            <tr>
                <td>{{eo.pk}}</td>
                <td>{{eo.emp_no}}</td>
                <td>{{eo.ename}}</td>
                <td>{{eo.job}}</td>
                <td>{{eo.hiredate}}</td>
                <td>{{eo.sal}}</td>
                <td>{{eo.comm}}</td>
                <td>{{eo.dept_no}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>